version: '3'

services:
  pixiv_tracer:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pixiv_tracer
    restart: always
    environment:
      COOKIE: "first_visit_datetime_pc=..."
      INTERVAL: 10
      WEBHOOKS: "{\"webhooks\": [\"webhook1\", \"webhook2\"]}"
      USERS: "{\"user1\": id1, \"user2\": id2, \"user3\": id3}"
